*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-image: url('sunny.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
 .app-main{
     width: 50vh;
     margin: 100px auto;
     background-color: rgb(226, 231, 236);
     padding: 20px;
     text-align: center;
 }
 .app-main > *{
 margin-bottom: 20px;
 }

 .input-box{
     width: 100%;
     background-color:aliceblue;
     border: none;
     outline: none;
     color: rgb(10, 10, 10);
     font-size: 1.2rem;
     height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
 }
 .input-box:focus{
     background-color: rgb(243, 241, 241);
 }
 .weather-body{
     display: none;
     color: rgb(7, 7, 7);
     padding: 20px;
     line-height: 2rem;
     border-radius: 10px;
     background-color: rgb(187, 179, 179);
     height: 50vh;
 }
 .location-details{
     font-weight: bold;
 }

 .weather-status{
padding: 20px;
 }

 .temp{
     font-size: 50pt;
     font-weight: 700;
     margin: 20px 0;
     text-shadow: 2px 4px rgb(124, 123, 123);
 }

 .min-max, .weather{
     font-size: 12pt;
     font-weight: 600;
 }